<form #f="ngForm" (ngSubmit)="create(f)">
    <div class="form-group">
        <label for="courseName">Course Name</label>
        <input 
        required 
        ngModel 
        minlength="5" 
        maxlength="50" 
        name="courseName" 
        #courseName="ngModel" 
        id="courseName" 
        type="’text’" 
        class="form-control">
        <div class="alert alert-danger" *ngIf="courseName.touched && !courseName.valid">
            <div *ngIf="courseName.errors?.['required']">
                First Name is required.
            </div>
            <div *ngIf="courseName.errors?.['minlength']">
                First Name must be at least {{ courseName.getError('minlength')?.requiredLength }} characters.
            </div>
            <div *ngIf="courseName.errors?.['maxlength']">
                First Name must be at most {{ courseName.getError('maxlength')?.requiredLength }} characters.
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="category">Category</label>
        <select required ngModel #category="ngModel" name="category" id="category" class="form-control">
            <option value=""></option>
            <option *ngFor="let c of categories" [value]="c.id">{{ c.name }}</option>
        </select>
        <div class="alert alert-danger" *ngIf="category.touched && !category.valid">
            Category field is required.
        </div>
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" ngModel name="isMoneyBackGuaranteed"> 30 day money back guarantee
        </label>
    </div>

    <p>
        {{ f.value | json }}
    </p>

    <button class="btn btn-primary" [disabled]="!f.valid">Create</button>
</form>